.subreddit {
  display: flex;
  height: 8rem;
  align-items: center;
  padding: 0 2.2rem;
  cursor: pointer;
  border: black solid 2px;
  overflow-x: visible;
}
.subreddit:hover:not(.selected) {
  background-color: hsl(0, 0%, 95%);
}
.selected {
  background-color: hsl(240, 100%, 95%);
}
.subreddit img {
  height: 40%;
  aspect-ratio: 1 / 1;
  border: hsl(240, 100%, 5%) 1px solid;
  border-radius: 50%;
}

.subreddit h3 {
  font-size: 2.5rem;
  margin-left: 1rem;
  vertical-align: center;
  line-height: 2rem;
  height: 2rem;
  font-weight: 600;
  font-family: "Teachers";
}
