.post {
  display: flex;
  border: hsl(250, 100%, 5%) 1em solid;
  background-color: hsl(48, 75%, 57%);
  border-radius: 6px;
  padding: 3rem 0 1.5rem 0;
  margin-bottom: 3rem;
  transition: box-shadow, transform ease-out 0.1s;
  box-sizing: content-box;
}

.post:hover {
  box-shadow: 2px 2px 0 hsl(250, 100%, 10%) !important;
  transform: translate(-1px, -1px);
}

#upvotesColumn {
  flex-grow: 0;
  flex-basis: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.75rem;
  padding: 0 2rem;
  min-width: 10%;
}
#upvotesColumn h3 {
  margin: 1em;
  line-height: 0.6em;
  color: hsl(250, 100%, 10%);
}

#upvotesColumn svg {
  font-size: 4rem;
  color: hsl(250, 100%, 10%);
  cursor: pointer;
  border-radius: 25%;
  box-shadow: 1px 1px solid hsl(250, 100%, 10%);
}

#upvotesColumn svg:hover {
  background-color: hsl(0, 0%, 95%);
}

.downArrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

.upVoteGreen {
  color: hsl(120, 100%, 25%) !important;
}

.downVoteRed {
  color: hsl(0, 100%, 40%) !important;
}

#contentColumn {
  flex-grow: 1;
  flex-basis: 100%;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

#postTitle {
  font-size: calc(1rem + 2vw);
  margin-top: 0;
  margin-bottom: 2rem;
  color: hsl(250, 100%, 13%);
  font-family: "Climate Crisis";
  font-weight: 100;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

#mainImage {
  border-radius: 8px;
  margin: 0;
  max-width: 100%;
  border: solid 3px hsl(250, 100%, 5%);
}

hr {
  margin-top: 5rem;
  border-radius: 3px;
  border: solid 1px hsl(250, 100%, 10%);
}

#postSubContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  font-size: 1.5rem;
  border-top: 2px solid hsl(250, 100%, 5%);
}

#userProfile {
  display: flex;
  height: 100%;
  align-items: center;
}

#username {
  font-size: 1.5rem;
  color: hsl(240, 100%, 5%);
  font-family: "Climate Crisis";
}

#commentsToggle {
  height: 80%;
  margin: 10% 0;
  padding: 2px 5px;
  border-radius: 20%;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: hsl(250, 100%, 5%);
  border: 1px solid transparent;
  transition: background-color, border 200ms ease-in-out;
}

#commentsToggle:hover {
  background-color: hsl(0, 0%, 95%);
  border: 1px solid hsl(250, 100%, 5%);
}

#commentsToggle svg {
  font-size: 2.5rem;
}

#commentsNum {
  margin-left: 1rem;
}

#commentsContainer {
  width: 100%;
  margin: 2rem 0;
  padding: 0;
}
