.post {
  display: flex;
  border: #0c0c0c 1em solid;
  background-color: ghostwhite;
  border-radius: 6px;
  margin-bottom: 3rem;
  transition: box-shadow, transform ease-out 0.1s;
  box-sizing: content-box;
  min-height: 45svh;
}

.post:hover {
  box-shadow: 2px 2px 0 hsl(250, 100%, 10%) !important;
  transform: translate(-1px, -1px);
}

#subColumn {
  flex-grow: 0;
  flex-basis: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.75rem;
  padding: 0 2rem;
  min-width: 10%;
  gap: 2em;
  background-color: hsl(279, 55%, 55%);
  border-right: hsl(0, 0%, 12%) 2px solid;
  padding: 3rem 0 1.5rem 0;
  color: white;
}

#upVotes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#upVotes h3 {
  margin: 1em;
  line-height: 0.6em;
  color: white;
}

#upVotes svg {
  font-size: 4rem;
  color: white;
  cursor: pointer;
  border-radius: 25%;
}

#upVotes svg:hover {
  background-color: hsla(0, 0%, 95%, 40%);
}

.downArrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

.upVoteGreen {
  color: rgb(7, 189, 7) !important;
}

.downVoteRed {
  color: red !important;
}

svg.upVoteGreen,
svg.downVoteRed {
  background-color: hsl(0, 0%, 95%);
}

#imageIcon {
  font-size: 3rem;
}

#comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#comments svg {
  font-size: 3rem;
}

#contentColumn {
  flex-grow: 1;
  flex-basis: 100%;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 3rem 5em 1.5rem 5em;
}

#postTitle {
  font-size: calc(1rem + 1.5vw);
  margin: 0;
  margin-bottom: 1em;
  color: #0c0c0c;
  font-family: "Teachers";
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 900;
}

#mainImage {
  border-radius: 8px;
  max-width: 100%;
  border: solid 3px #0c0c0c;
}

#postSubContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  font-size: 1.5rem;
  border-top: 2px solid hsl(250, 100%, 5%);
  margin-top: 3em;
}

#userProfile {
  display: flex;
  height: 100%;
  align-items: center;
}

#username {
  font-size: 1.5rem;
  color: hsl(240, 100%, 5%);
  font-family: "Climate Crisis";
  letter-spacing: 0.05em;
}

#postDate {
  font-weight: 600;
}

@media only screen and (max-width: 1000px) {
  .post {
    min-height: 0;
  }
}
