.comment {
  width: 100%;
  padding: 1.3em 6em 6em 6em;
  box-sizing: border-box;
  margin-bottom: 3em;
  background-color: hsl(0, 0%, 98%);
  transition: 0.1s ease-out box-shadow;
  border: solid 2px black;
  border-radius: 2em;
}

#commentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 98%);
}

#commentHeader h3 {
  margin: 0;
  padding: 0;
}

#author {
  color: hsl(279, 55%, 55%);
  font-size: 4.5em;
  line-height: 3em;
  font-family: "Climate Crisis";
  font-weight: 100;
  letter-spacing: 0.05rem;
}

#commentDate {
  color: hsl(0, 0%, 25%);
  font-size: 1.6rem;
  font-weight: normal;
  font-style: italic;
  align-self: center;
  font-family: "Climate Crisis";
}

#commentContent {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 0;
  overflow-wrap: anywhere;
  font-family: "Teachers";
}
