#app {
  min-height: 100vh;
  width: 100%;
}

#mainContentContainer {
  min-height: 90vh;
  margin-top: 2.5rem;
  display: flex;
}

#subredditsContainer {
  flex-basis: 25%;
  flex-grow: 0;
}

@media only screen and (max-width: 850px) {
  #mainContentContainer {
    flex-direction: column;
    align-items: center;
  }
  #subredditsContainer {
    width: 100%;
  }
}
