header {
  padding: 2em;
  display: grid;
  grid-template: 1fr / 1fr 1.5fr 1fr;
  column-gap: 2rem;
  align-items: center;
  background-color: rgb(159, 77, 203);
  border-bottom: 4px solid #0c0c0c;
}
#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
#logo svg {
  width: calc(1rem + 4vw);
  margin-right: 1.5em;
}
#logo h1 {
  font-size: calc(1rem + 1.8vw);
  font-family: "Climate Crisis";
  letter-spacing: 0.05em;
  font-weight: 100;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
nav form {
  width: 100%;
  padding: 0;
  height: 70%;
  display: flex;
  align-items: center;
}
form input {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 90%;
  height: 100%;
  border: none;
  background-color: hsl(0, 0%, 95%);
  padding: 1rem 1.5rem;
  border-radius: 8px 0 0 8px;
  border: 2px solid #0c0c0c;
  font-family: "Teachers";
}
form button {
  flex-grow: 0;
  flex-basis: 8%;
  height: 100%;
  border: none;
  background-color: #0c0c0c;
  text-align: center;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #0c0c0c;
  color: white;
  border-left: transparent;
}

form button:hover {
  background-color: white;
  color: #0c0c0c;
  transition: background-color 0.25s;
}
form button svg {
  font-size: 3rem;
  line-height: 80%;
}

@media only screen and (max-width: 850px) {
  html {
    font-size: 1.5vw;
  }
  header {
    grid-template: 1fr / 1fr 1.5fr;
  }
}
