aside {
  border-bottom: 1em solid hsl(240, 100%, 5%);
  overflow: hidden;
  background-color: aliceblue;
}

aside div {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 1.5em;
}

aside div:has(h3) {
  margin: 3em;
}

/* width */
aside div::-webkit-scrollbar {
  width: 10px;
}

/* Track */
aside div::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
aside div::-webkit-scrollbar-thumb {
  background: #0c0c0c;
}

aside h2 {
  font-size: 3.5rem;
  font-family: "Climate Crisis";
  letter-spacing: 0.1rem;
  font-weight: 100;
}
